<a href="https://colab.research.google.com/github/EmnaM16/Gomycode/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

x=[2,3,6]
y=1
for i in range (0,len(x)):
  y=y*x[i]
print(y)

36

In [2]:
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [14]:
d1={'a': 100, 'b': 200, 'c':300}
d2= {'a': 300, 'b': 200, 'd':400}
d3={}
for key in d2:
  if key in d1:
    d3[key]=d2[key]+d1[key]
  else:
    d3[key] = d2[key]

for key in d1:
  if key not in d2:

    d3[key] = d1[key]
print(d3)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
x=[2,3,6]
y=0
for i in range(0,len(x)):
  if x[i]%2==0:
    y=y+x[i]
  else:
    y=y-x[i]
print(y)

5

In [23]:
L=[]
x=int(input("write a number of N:"))
print(x)
for i in range(0,x):
    print("enter value at index",i)
    item=int(input())
    L.append(item)
print(L)

write a number of N:2
2
enter value at index 0
1
enter value at index 1
3
[1, 3]